.bottle-button {
    background-color: transparent !important;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    border: 2px solid rgba(128, 128, 128, 0.5) !important;
    border-top: none !important;
}

.bottle-button:hover {
    cursor: default !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.bottle-button:active,
.bottle-button:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    transform: none !important;
    outline: none !important;
}

.bottle-button:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}